// Write your styles here
@import 'variables1';
//@import 'variables2';

@mixin navText {
    text-decoration: none;
    text-transform: uppercase;
    color: $navLinksHeaderColor;
}

 


* {
    margin: 0;
    padding: 0;
}

header {
    background: $headerBackground;  
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .general-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 60%;

        h1 {
            align-self: center;
            margin-bottom: 15px;
        }
    }
    
    .top-wrapper{
        display: flex;        
        justify-content: space-between;
        
        img {
          height: 145px; 
        }
        
    
        nav {
           flex-wrap: wrap;
           flex-direction: row;
           justify-content: space-around;
                     
            a {
                display: inline-block;
                @include navText;
                font: normal 300 15px/24px $fontsStack;
                font-weight: bold;
                border-right: 2px solid $navBorderColor;
                letter-spacing: 2px;
                padding:15px 115px;
                &:last-child {
                    border-right: none;
                }
               
            }
        }
    }

    h1{
        @include navText;
        font: normal 24px $fontsStack;
        font-weight:bold;
        position: absolute;
        top: 40%;
        left: 25%;
        align-self: flex-end;
    }
    button {
        padding: 10px 50px;
        background-color: $buttonColor;
        border: none;
        a.btn.btn-top {
            @include navText;
            color: $buttonTextColor;
            font: normal 300 15px/24px $fontsStack;
         }
    }
}

main {
    background-color: $mainBackground;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toolbar {
        display: flex;
        justify-content: flex-end;
        width: 900px;
        margin: 15px 0 15px 0;

        input {
            background-color: $mainBackground;
            border: 1px solid $searchBorderColor;
            padding: 10px;
        }
    }

    h1 {
        color: $mainHeadersColor;
        font: normal 24px $fontsStack;
        font-weight: bold;
        text-transform: uppercase; 
        align-self: flex-end;
    }

    #list{
        display: flex;
        flex-direction: column;
        width: 900px;
    }

    article{
        width: 900px;
        background: $articleBackground;
        margin: 20px;
        margin-top: 1px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
                
        img {
            display: inline-block;
            margin: 10px;
            
        }

        .post {
            display: inline-block;
            flex-wrap: wrap;
            margin-right: 25px;
            
            .post-description {
                color: $articlePostDescription;
                padding: 20px 40px 10px 10px;
                border-bottom: 1px solid $articleDescriptionBorder;
            }

            h3 {
                color: $articleHeaderColor;
                font:bold 22px $fontsStack;
                margin: 5px;
            }

            p {
                font:normal 15px $fontsStack;
                line-height: 160%;               
            }
        }

        button {
            padding: 15px 70px;
            @include navText;
            color: $buttonTextColor;
            background-color: $buttonColor; 
            border: none;
            float: right;
            margin: 15px 25px 0 0;
        }

        
    }

    #about {
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        >:first-child{
            display: flex;
            flex-direction: column;
        }
                
         p{
            padding: 10px 0 10px 0;
            font: normal 15px $fontsStack;
            line-height: 150%;
        }

        #about-section-img {
            width: 900px;
            margin-top: 10px;
            display: flex;
        }

    }

    #contact {
        width: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        align-items: flex-end;

        .contact-description {
            display: flex;
            flex-direction: column;
            font-family: $fontsStack;
            color: $mainHeadersColor;
        }

        form {
            width: 900px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            label {
                color: $articleHeaderColor;
                font: normal 13px $fontsStack;
                padding-bottom: 2px;
            }

            .user-creds {
                display: inline-flex;
                justify-content: space-between;

                .user-input-group {
                    display: flex;
                    flex-direction: column;
                    width: 49%;
                    align-items: flex-end;

                    input {
                        background-color: $mainBackground;
                        width: 100%;
                        height: 35px;
                        border: 1px solid $articleDescriptionBorder;
                    }
                }
            }
            .question-textarea {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                textarea {
                    width: 100%;
                    height: 200px;
                    border: 1px solid $articleDescriptionBorder;
                    background-color: $mainBackground;
                }

                button {
                    margin-top: 20px;
                    padding: 10px 70px;
                    @include navText;
                    color: $buttonTextColor;
                    background-color: $buttonColor;
                    border: none;
                    float: right;
                }
            }
        }
    }
}

footer {
    padding: 0 15px;
    background-color: $mainBackground;
    font: normal 13px $fontsStack;
}
