$headerBackground: url(../img/header_background_v1.jpg);
$navBorderColor: #64798C;
$navLinksHeaderColor: #EBEBEB;
$buttonColor: #1CB0AD;

$fontsStack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

$searchBorderColor: #64798C;
$articleBackground: #EFEFEF;
$articlePostDescription : #E60000;
$articleDescriptionBorder: #64798C;
$articleHeaderColor: #2895A9;