$headerBackground: url(../img/header_background_v2.jpg);

$fontsStack: "Palatino Linotype", "Book Antiqua", Palatino, serif;

 $navBorderColor: #D0D8DD ;
 $navLinksHeaderColor: #FC4600 ;
 $buttonColor: #4F0DB6;
 $buttonTextColor: #E2F4EE;

 $mainBackground: #EEEEEE;
 $mainHeadersColor: #747474;

 $searchBorderColor: #C7D1D8;
 $articleBackground: #FFFFFF;
 $articlePostDescription: #BEBEBE ;
 $articleDescriptionBorder: #C7D1D8 ;
 $articleHeaderColor: #6B7F91;