* {
  margin: 0;
  padding: 0; }

header {
  background: url(../img/header_background_v1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  header .general-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60%; }
    header .general-group h1 {
      align-self: center;
      margin-bottom: 15px; }
  header .top-wrapper {
    display: flex;
    justify-content: space-between; }
    header .top-wrapper img {
      height: 145px; }
    header .top-wrapper nav {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around; }
      header .top-wrapper nav a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #EBEBEB;
        font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
        font-weight: bold;
        border-right: 2px solid #64798C;
        letter-spacing: 2px;
        padding: 15px 115px; }
        header .top-wrapper nav a:last-child {
          border-right: none; }
  header h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: #EBEBEB;
    font: normal 24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 25%;
    align-self: flex-end; }
  header .btn {
    padding: 10px 50px;
    background-color: #1CB0AD;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #EBEBEB;
    color: #f6f8f7; }
    header .btn a.btn.btn-top {
      font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }

main {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .toolbar {
    display: flex;
    justify-content: flex-end;
    width: 900px;
    margin: 15px 0 15px 0; }
    main .toolbar input {
      background-color: #FFFFFF;
      border: 1px solid #64798C;
      padding: 10px; }
  main h1 {
    color: #000000;
    font: normal 24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    align-self: flex-end; }
  main #list {
    display: flex;
    flex-direction: column;
    width: 900px; }
  main article {
    width: 900px;
    background: #EFEFEF;
    margin: 20px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex; }
    main article img {
      display: inline-block;
      margin: 10px; }
    main article .post {
      display: inline-block;
      flex-wrap: wrap;
      margin-right: 25px; }
      main article .post .post-description {
        color: #E60000;
        padding: 20px 40px 10px 10px;
        border-bottom: 1px solid #64798C; }
      main article .post h3 {
        color: #2895A9;
        font: bold 22px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
        margin: 5px; }
      main article .post p {
        font: normal 15px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
        line-height: 160%; }
    main article button {
      padding: 15px 70px;
      text-decoration: none;
      text-transform: uppercase;
      color: #EBEBEB;
      color: #f6f8f7;
      background-color: #1CB0AD;
      border: none;
      float: right;
      margin: 15px 25px 0 0; }
  main #about {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; }
    main #about > :first-child {
      display: flex;
      flex-direction: column; }
    main #about p {
      padding: 10px 0 10px 0;
      font: normal 15px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
      line-height: 150%; }
    main #about #about-section-img {
      width: 900px;
      margin-top: 10px;
      display: flex; }
  main #contact {
    width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: flex-end; }
    main #contact .contact-description {
      display: flex;
      flex-direction: column;
      font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
      color: #000000; }
    main #contact form {
      width: 900px;
      display: flex;
      flex-direction: column;
      margin-top: 20px; }
      main #contact form label {
        color: #2895A9;
        font: normal 13px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
        padding-bottom: 2px; }
      main #contact form .user-creds {
        display: inline-flex;
        justify-content: space-between; }
        main #contact form .user-creds .user-input-group {
          display: flex;
          flex-direction: column;
          width: 49%;
          align-items: flex-end; }
          main #contact form .user-creds .user-input-group input {
            background-color: #FFFFFF;
            width: 100%;
            height: 35px;
            border: 1px solid #64798C; }
      main #contact form .question-textarea {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        main #contact form .question-textarea textarea {
          width: 100%;
          height: 200px;
          border: 1px solid #64798C;
          background-color: #FFFFFF; }
        main #contact form .question-textarea button {
          margin-top: 20px;
          padding: 10px 70px;
          text-decoration: none;
          text-transform: uppercase;
          color: #EBEBEB;
          color: #f6f8f7;
          background-color: #1CB0AD;
          border: none;
          float: right; }

footer {
  padding: 0 15px;
  background-color: #FFFFFF;
  font: normal 13px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }
